/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2017, 12:29:24 PM
    Author     : hy
*/

body{
    background-image: url('background.jpg');
   

    
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fast{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: darkorange;
    font-size: 48pt;
    
}
.chinese{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: red;
    font-size: 48pt;
}

.indian{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: chocolate;
    font-size: 48pt;
}

.vege{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: limegreen;
    font-size: 48pt;
}