
body{
    background-image: url('welcome_background.jpg');
    
   background-position: center;
    background-repeat: no-repeat;
/*    background-size: cover;*/

}
.h1	{
color: #999999;
font-family: arial, sans-serif;
font-size: 155px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
}

.welcome{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: coral;
    font-size: 30pt;
}



